/**
 * @file	itw1.css
 * @author	CYRIL URBAN
 * @date	2018-03-19
 * @brief	CSS for webpage itw1.html.
 */

* {
	margin: 0px;
}

html {
	background: url("img/pattern.png");
	background-repeat: repeat-x repeat-y;
}

body {
	min-width: 960px;
	font-family: Crimson Text;
	font-size: 12pt;
}

#main {
	width: 960px;
	margin: 0 auto;
}

h1 {
	font-family: Lobster;
	font-size: 36pt;
	text-align: center;
	color: #5D4037;
}

h2 {
	font-family: Lobster;
	font-size: 20pt;
	text-align: left;
	color: #5D4037;
	padding-top: 10px;
	padding-bottom: 35px;
}

header {
	text-align: center;
}

#navbar {
	width: 100%;
	height: 60px;
	background: linear-gradient(to right, #FF6F00, #FFA000);
	border-top-style: solid;
	border-color: #3E2723;
}

.logo {
	background: url("img/logo.png") center top no-repeat;
	padding-bottom: 100px;
	margin-bottom: -100px;
}

.logo span {
	visibility: hidden;
	font-size: 37px;
}

.menu {
	width: 960px;
	margin: 0 auto;
}

.menu-left li {
	display: inline-block;
	margin-right: 40px;
}

.menu-right li {
	display: inline-block;
	margin-right: 40px;
}

.menu-left {
	float: left;
	text-align: left;
	margin-top: -42px;
	font-size: 14pt;
}

.menu-right  {
	float: right;
	text-align: right;
	margin-top: -42px;
	font-size: 14pt;
}

.menu-left li a:link, .menu-left li a:visited, .menu-left li a:visited,
.menu-right li a:link, .menu-right li a:visited, .menu-right li a:visited {
	text-decoration: none;
	color: white;
}

.menu-left li a:hover, .menu-right li a:hover {
	text-decoration: underline;
}

#page-title {
	background: url("img/bg.png");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
	height: 380px;
	width: 100%;
	z-index: -1; 
	position: relative;
}

#page-title h1 {
	padding-top: 150px;
}

#page-title p {
	padding-top: 20px;
}

.main-text {
	margin-top: 70px;
}

.main-text p {
	margin-top: 30px;
	text-align: center;
}

.main-map {
	margin-top: 50px;
}

.form {
	float: left;
	width: 560px;
	background-color: white;
	margin-bottom: 30px;
}

.info {
	float: right;
	width: 310px;
}

.box {
	margin-top: 25px;
	background-color: white;
	border-style: solid;
	border-color: #EEEEEE;
	padding: 15px;
}

.box .row {
	margin-top: 25px;
}

.left {
	float: left;
}
.right {
	float: right;
	margin-right: 25px;
}

input {
	width: 235px;
	margin-bottom: 20px;
	height: 25px;
}

.right label {
	margin-right: 130px;
}

label input {
	width: 20px;
	margin-bottom: 5px;
	height: 10px;
}

.textarea {
	margin-top: 30px;
	width: calc(100% - 25px);
	height: 190px;
}

.newsletter {
	clear: both;
	margin-top: 25px;
}

button {
	background-color: #FF8F00;
	color: white;
	text-align: center;
	height: 40px;
	width: 85px;
	border: none;
	text-decoration: none;
}

.box a:link, .box a:visited, .box a:visited {
	text-decoration: none;
	color:  #FF8F00;
}

.box a:hover, .box a:hover {
	text-decoration: underline;
}

.fab {
	font-size: 30px;
	margin-right: 15px;
}

.newsletter input {
	margin-right: 0px;
	width: 740px;
	height: 32px;
}

.newsletter button {
	margin-left: -5px;
	width: 160px;
}

.newsletter input {
	margin-bottom: 0px;
}

.fab:hover {
	color: #5D4037;
}

button:hover {
	background-color: #5D4037;
	cursor: pointer;
}

.main {
	width: 960px;
	margin: 0 auto;
}

.hours {
	float: left;
	width: 214px;
	margin-right: 159px;
}

.about {
	float: left;
	width: 214px;
	margin-right: 159px;
}

.main .menu {
	float: left;
	width: 214px;
}

#copyright {
	clear: both;
	text-align: center;
	background-color: #333333;
	padding-top: 15px;
	padding-bottom: 15px;
}

#footer {
	margin-top: 30px;
	background-color: #252525;
	color: white;
}

.footer-title {
	border-bottom-style: solid;
	border-color: white;
	border-bottom-width: 1px;
	margin-top: 30px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

#footer a:link, #footer a:visited, #footer a:visited {
	text-decoration: none;
	color:  white;
}

#footer a:hover, #footer a:hover {
	text-decoration: underline;
}

#footer ul {
	margin-left: -22px;
}

#footer li {
	margin-bottom: 5px;
}

#footer .social {
	margin-top: 15px;
	margin-bottom: 20px;
}

#footer .fas, #footer .fab {
	font-size: 30px;
	color: #919191;
}

#footer .fab:hover, #footer .fas:hover {
	color: white;
}

/* Google Chrome specification*/
@supports (-webkit-appearance:none) {
	label input {
		height: 17px;
	}

	.right label {
		margin-right: 123px;
	}

	.newsletter input {
		height: 34px;
	}
}